:root {
    /* Global colors */
    --color01: rgba(10, 42, 70, 1);
    --color02: rgba(25, 100, 125, 1);
    --color03: rgba(12, 192, 200, 1);
    --color04: rgba(241, 123, 19, 1);
    --color05: rgba(254, 222, 79, 1);
    --color06: rgba(255, 255, 255, 1);
    --color07: rgba(0, 0, 0, 1);
    --color08: rgba(181, 192, 200, 1);
    --input-background-color: rgba(255, 255, 255, 0.70);
    --header-background-color: rgba(10, 42, 70, 85%);
    --card01-background-color: rgba(10, 42, 70, 85%);
    --card01-drop-shadow-color: rgba(0, 0, 0, 0.25);

    /* Global images, icons etc */
    --background-image01: url("/rps/images/halloween.jpg");
    /* url("/rps/images/halloween.jpg"); */
    --background-image02: url("/rps/images/halloween-scary.jpg");

    /* Global fonts */
    --font-family01: Roboto;
    --font-family02: creepster-caps;
}

body {
    background-image: url(/images/halloween.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    height: 100vh;
    width: 100vw;
    min-height: 667px;
    min-width: 375px;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 10fr 1fr;

}

header {
    grid-row-start: 1;
    height: 2.8rem;
    grid-column-start: 1;
    grid-column-end: 4;

    background-color: var(--card01-background-color);

}


/* -------------------------------------------------- */
/* -----------start hamburger menu CSS only */
/* -------------------------------------------------- */

:root {
    --bar-width: 35px;
    --bar-height: 6px;
    --hamburger-gap: 6px;
    --foreground: var(--color01);
    --background: #0A2A46;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41411356237);
    /* $c_1=c_2$ $h = \sqrt{c_1^2+c_2^2} = \sqrt{c_1^2+c_1^2} = \sqrt{2c_1^2} = \sqrt{2} \sqrt{c_1^2} = c_1 \sqrt{2}$ */

    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 11;
    cursor: pointer;
}

.hamburger-menu:has(input:checked) {
    --foreground: white;
    --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--color08);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
        rotate var(--animation-timing), translate var(--animation-timing),
        background-color var(--animation-timing);
}

.hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
    opacity: 0;
    width: 0;
}

.sidebar {
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.5rem 0rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
    background-color: var(--foreground);
    color: var(--background);
    width: 15rem;
    height: 100vh;
    border: 0;
    position: absolute;
    z-index: 10;

}

.hamburger-menu:has(input:checked)+.sidebar {
    translate: 0;

}

.asideButton {
    padding: 1.4rem 1rem;
    display: flex;
    border: none;

}

.asideButton:hover,
.asideButton:active {
    background-color: var(--color04);


}

.asideButton a {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
}

.asideButton h4 {
    font-size: 1.3rem;
    font-weight: 400;

}

/* -----------end hamburger menu CSS only */
.mainContainerBattle {

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    text-align: center;
    border-radius: 1rem;
    height: 35rem;
    z-index: 1;
    align-self: center;
    display: none;
    flex-direction: column;
    justify-content: center;

}

.mainContainerBattle .textBattle h1 {
    font-family: creepster-caps;
    font-size: 5rem;
    font-weight: 200;
    background: linear-gradient(to bottom, rgba(254, 222, 79, 1) 22%, rgba(241, 123, 19, 1) 81%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0 auto;
    -webkit-filter: drop-shadow(0px 9px 6px#0A2A46);
    filter: drop-shadow(0px 9px 6px #0A2A46);
    letter-spacing: 2px;
    margin: 1rem auto 0 auto;
    width: 20rem;
    animation: zoomInOut 6s ease-in-out;
    animation-fill-mode: forwards;

}

.mainContainerBattle .informationContainer {
    position: absolute;
    margin: auto;


}

.mainContainerBattle h2 {
    font-family: creepster-caps;
    font-size: 3rem;
    font-weight: 200;
    background: linear-gradient(to bottom, rgba(254, 222, 79, 1) 22%, rgba(241, 123, 19, 1) 81%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: auto;
    -webkit-filter: drop-shadow(0px 9px 6px#0A2A46);
    filter: drop-shadow(0px 9px 6px #0A2A46);

}

.scoreBoard {
    width: 98vw;
    display: grid;
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-rows: 1fr;
    margin: -2.8rem 0 0  0;
    background-color: var(--color04);
    height: 7rem;
    grid-column-start: 2;
    grid-row-start: 2;
    border-radius: 50rem;
    grid-column-end: 3;

}

.vs h2 {
    grid-column-start: 2;
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 7rem;
    text-align: center;


}

#gamerSide {
    grid-column-start: 1;
    grid-column-end: 2;

}

#gamerSide.gamerContainer {
    height: 7rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;


}

#gamerSide img {
    display: none;


}

#gamerSide.gamerContainer h3 {
    font-family: var(--font-family02);
    font-size: 1.3rem;
    font-weight: 100;
    color: var(--color01);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin: 1rem auto auto 2rem;
    height: 3rem;

}

#gamerSide.gamerContainer h4 {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    grid-row-start: 2;


}

#gamerScore {
    grid-column-start: 3;
    display: flex;
    align-items: center;
    justify-content: center;

}

p#gamerScore,
p#computerScore {
    font-size: 2rem;
    text-align: center;
    color: white;
    margin: 0 1rem;
}

#computerSide {
    grid-column-start: 3;
    grid-column-end: 4;

}

#computerSide.gamerContainer {
    height: 7rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;


}


#computerSide img {
    display: none;

}

#computerSide.gamerContainer h3 {
    font-family: var(--font-family02);
    font-size: 1.3rem;
    font-weight: 100;
    color: var(--color01);
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    margin-top: 1rem;
    height: 3rem;
    grid-column-start: 2;
    margin: 1rem 2rem auto 0;




}

#computerSide.gamerContainer h4 {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    grid-column-start: 2;



}

#computerScore {
    grid-column-start: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}


/* -------------------------------------------------- */
/* Animations */
/* -------------------------------------------------- */

@keyframes zoomInOut {
    0% {
        transform: scale(1);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}


/* ==================================================== */
/* Battling Hands */
/* ==================================================== */

.grid-container-for-battling-hands {
    height: 50vh;
    width: 100vw;
    /* margin-top: 7vh; */
    justify-content: center;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "left-hand-container container-between-hands right-hand-container";
}


.left-hand-container,
.right-hand-container {
    height: clamp(20vh 30vh 40vh);
    width: clamp(20vw 30vw 40vw);
    display: flex;
    align-items: center;
}

.container-between-hands {
    width: clamp(5vw 15vw 25vw);
}

#battling-hand-left,
#battling-hand-right {
    height: auto;
    width: 100%;
}


.trigger-animation-button {
    width: 10vw;
    height: 5vh;
}


.counting-hand {
    /*denna klass läggs till hos och tas bort från de html-element (händerna) som ska röra sig upp och ner tre gånger*/
    animation: hand-123-count 0.5s;
    animation-iteration-count: 3;
}


@keyframes hand-123-count {
    0% {
        transform: translate(0vh, -5vh) rotate(0deg);
    }

    10% {
        transform: translate(0vh, -6vh) rotate(-1deg);
    }

    20% {
        transform: translate(0vh, -7vh) rotate(1deg);
    }

    30% {
        transform: translate(0vh, -8vh) rotate(0deg);
    }

    40% {
        transform: translate(0vh, -9vh) rotate(1deg);
    }

    50% {
        transform: translate(0vh, -10vh) rotate(-1deg);
    }

    60% {
        transform: translate(-1px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(1px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -1px) rotate(-1deg);
    }
}

/* ============================================================ */



/* -------------------------------------------------- */
/* Desktop-version */
/* -------------------------------------------------- */

@media screen and (min-width: 700px) {

    .scoreBoard {
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }

    .vs h2 {
        font-size: 2.3rem;
    }


    #gamerSide {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    #gamerSide.gamerContainer {
        grid-template-columns: 1fr 2fr;
    }

    #gamerSide.gamerContainer {
        height: 7rem;
        display: grid;
        grid-template-columns: 2fr 3fr 1fr;
        grid-template-rows: 1fr;
    
    
    }

    #gamerSide img {
        margin-left: 2rem;
        width: 6rem;
        height: 6rem;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 4;
        margin-left: 1rem;
        margin-right: .5rem;
    
    }

    #gamerSide.gamerContainer h3 {
        font-size: 2rem;
    }

    #gamerSide.gamerContainer h4 {
        font-size: 1.2rem;

    }

    #computerSide.gamerContainer {
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
    }

    #computerSide.gamerContainer {
        height: 7rem;
        display: grid;
        grid-template-columns: 1f 3fr 2fr;
        grid-template-rows: 1fr;
    
    
    }
    #computerSide img {
        margin-right: 2rem;
        width: 6rem;
        height: 6rem;
        width: 3.5rem;
        height: 3.5rem;
        grid-column-start: 3;
        grid-row-start: 1;
        margin: auto;
    }

    #computerSide.gamerContainer h3 {
        font-size: 2rem;
    }

    #computerSide.gamerContainer h4 {
        font-size: 1.2rem;

    }



}

