/* ================================================== */
/* READ-ME */
/* ================================================== */
/* CSS File Structure: 
   - global variables 
   - global css-rules and styling
   - default styling (mobile first)
   - media-queries

   Coding rules:
   - classes are inserted in alphabetical order in each section
   - classes are styled from the outside to the inside and from the back to the front
   - related properties are grouped together leaving an empty line between  


/* ================================================== */
/* GLOBAL VARIABLES */ 
/* ================================================== */

:root{
    /* Global colors */ 
    --color01: rgba(10, 42, 70, 1);   
    --color02: rgba(25, 100, 125, 1);  
    --color03: rgba(12, 192, 200, 1);  
    --color04: rgba(241, 123, 19, 1); 
    --color05: rgba(254, 222, 79, 1); 
    --color06: rgba(255, 255, 255, 1); 
    --color07: rgba(0, 0, 0, 1); 
    --color08: rgba(181, 192, 200, 1);
    --text-shadow-color01: rgb(255, 91, 5);
    --h2-background-linear-gradient-color01: rgb(254, 222, 79) 54.17%;
    --h2-background-linear-gradient-color02: rgb(241, 123, 19) 100%;
    --header-background-color: rgba(10, 42, 70, 85%); 
    --card01-background-color: rgba(10, 42, 70, 85%); 
    --card01-drop-shadow-color:  rgba(0, 0, 0, 0.25); 
    --box-shadow-color: rgba(0, 0, 0, 0.25);  
    
    /* Global images, icons etc */
    --background-image01: url("/rps/images/halloween.jpg");
    --background-image02: url("/rps/images/halloween-scary.jpg");

    /* Global fonts */        
    --font-family01: Roboto;
    --font-family02: creepster-caps;

    /* Global breakpoints */
    --breakpoint-tablet: 500px;
    --breakpoint-desktop: 700px;
}


/* ==================================================== */
/* GLOBAL CSS-RULES & STYLING */
/* ==================================================== */

@font-face {
    font-family: creepster-caps; 
    src: url(/rps/fonts/creepster-caps.ttf);
  }


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* ================================================== */
/* DEFAULT STYLING - MOBILE FIRST  */
/* ================================================== */

body{
    min-width: 280px;  
    width: 100%;
    min-height: 600px;  
    position: relative;
    
    background-image: url("/rps/images/halloween.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;    
    align-items: center;
}


.button01{
    width: 122px;
    height: 36px;
    border-radius: 999px;
    box-shadow: 0px 4px 4px 0px var(--color08);
    padding: 11px 18px;
    
    background-color: var(--color04);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    
    font-family: var(--font-family01);
    color: var(--color06);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
}

.button01-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card01{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    flex-shrink: 0;

    background-color: var(--card01-background-color);
    border-radius: 20px; 
    stroke: var(--color07);
    stroke-width: 1px;
    filter: drop-shadow(0px 4px 4px var(--card01-drop-shadow-color));
   
    min-width: 200px;
    max-width: 400px;
    /* width: 80vw;  */
    height: 47vh;  /* 400px / 852px */
    min-height: 400px;
   /*  margin: 27vh 4vw 25vh 4vw; */
    padding: 5%;
}


.container01{
    height: 93vh; 
    margin-top: 7vh;
    width: 100vw;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 400px auto 17%;
    grid-template-areas:
    "empty-space01"
    "card01"
    "empty-space02"
    "button01-container";

}
.form01{
    width: 100%;
    margin-top: 20px;
    display: grid;
    align-items: center;
}


h1 {
    font-family: creepster-caps;
    font-size: 4rem;
    font-weight: 200;
    background: linear-gradient(164deg, rgba(254, 222, 79, 1) 22%, rgba(241, 123, 19, 1) 81%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
    -webkit-filter: drop-shadow(0px 9px 6px#0A2A46);
    filter: drop-shadow(0px 9px 6px #0A2A46);
    letter-spacing: 2px;
}

.card-heading01{
    text-shadow: 0px 4px 4px rgb(255, 91, 5);
    font-family: var(--font-family02);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
    background: linear-gradient(0deg, #FEDE4F 100%, #F17B13 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    /* margin-top: 19px; */  
}



.empty-space01{
    grid-area: empty-space01;
}

.empty-space02{
    grid-area: empty-space02;
}

header{    
    width: 100%; 
    min-width: 250px;
    height: 7vh;  /* 60px/852px */

    top: 0;
    position: absolute;
    
    background-color: var(--header-background-color);
    background-position: center;
} 



.input01{
    width: 100%;
    height: 40px;
    padding: 5px;

    background-color: var(--color08);
    border-radius: 999px;

}

.input01::placeholder{
    color: var(--color02);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 16px */
    padding: 12px 18px 12px 18px;
    vertical-align: center;  
}


.label01{
    /* global label specs */
    font-family: var(--font-family01);
    color: var(--color06);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* mobile label specs */
    width: 100%;
    height: 30px;
    font-size: 20px;
    

}

.label-input-pair01{
    margin-bottom: 30px;

}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    

}

.topnav{
    /* mobile navbar specs */
    /* mobile navbar specs */
    /* height: 60px; */

    opacity: 85%;
    width: 100vw;
    /* height: 3.5rem; */
}



/* -------------------------------------------------- */
/* tablet-version  */
/* -------------------------------------------------- */

@media (min-width: var(--breakpoint-tablet)){
    body{

        width: 100%;
    
    }
      
    .button01{
        /* tablet button-specs */
        width: 300px;
        height: 50px;  
        /* tablet font-specs */
        font-size: 30px;
        line-height: 133.333%;
        bottom: 10%
    }
    
   
    
    .card01{
        /* tablet card-specs */
        width: 100%;
        height: 100%     
    }
    
    .card02{
    
    }
    
    .h2-textbox{
        height: 48px;
    }

    .label01{
        /* mobile label specs */
        width: 302px;
        height: 30px;
        font-size: 20px; 
    }

    .navbar{
        height: 70px;
    
    }

}

/* -------------------------------------------------- */
/* Desktop-version */
/* -------------------------------------------------- */

@media (min-width: var(--breakpoint-desktop)){

    body{
        width: 100%;

    }

    .button01{
        /* Desktop button-specs */
        width: 360px;
        height: 60px;  
        /* Desktop font-specs */
        font-size: 36px;
        font-weight: 500;
        line-height: 133.333%;
    }
    
    
    .card01{
            /* desktop card-specs */

    
    }
    
    .card02{
    
    }    
}


/* ================================================== */
/* XXX */
/* ================================================== */

