/* ================================================== */
/* READ-ME */
/* ================================================== */
/* In this CSS, you will find: 
   - global variables 
   - global css-rules (e.g. @font-face rule for embedded fonts)
   - global media-independent classes
   - global media-dependent classes 
   
   


/* ================================================== */
/* GLOBAL VARIABLES */ 
/* ================================================== */

:root{
    /* Global colors */ 
    --color01: rgba(10, 42, 70, 1);   
    --color02: rgba(25, 100, 125, 1);  
    --color03: rgba(12, 192, 200, 1);  
    --color04: rgba(241, 123, 19, 1); 
    --color05: rgba(254, 222, 79, 1); 
    --color06: rgba(255, 255, 255, 1); 
    --color07: rgba(0, 0, 0, 1); 
    --color08: rgba(181, 192, 200, 1); 
    --text-shadow-color01: rgb(255, 91, 5);
    --h2-background-linear-gradient-color01: rgb(254, 222, 79) 54.17%;
    --h2-background-linear-gradient-color02: rgb(241, 123, 19) 100%;
   
    --box-shadow-color: rgba(0, 0, 0, 0.25);  /* convert to HEX */
    
    /* Global images, icons etc */
    --background-image01: url("/rps/images/halloween.jpg");
    --background-image02: url("/rps/images/halloween-scary.jpg");

    /* Global fonts */        
    --font-family01: Roboto;
    --font-family02: creepster-caps;

}


/* ==================================================== */
/* GLOBAL RULES  */
/* ==================================================== */

@font-face {
    font-family: creepster-caps; 
    src: url(/rps/fonts/creepster-caps.ttf);
  }

  

/* ================================================== */
/* GLOBAL MEDIA-INDEPENDENT CLASSES  */
/* ================================================== */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* ================================================== */
/* GLOBAL MEDIA-DEPENDENT CLASSES  */
/* ================================================== */
/*  Media query breakpoints:
    - mobile (<500px)
    - tablet (500-700px)
    - desktop (>700px)
    Coding-approach: mobile-first
    */

/* -------------------------------------------------- */
/* Mobile-version  (default) */
/* -------------------------------------------------- */

body{
    background-image: url("/rps/images/halloween.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 812px;  /* iphone 12 mini */
    min-width: 375x;  /* iphone 12 mini */
    position: relative;
}


.button01{
    /* global button-specs */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--color04);
    border-radius: 999px;
    /* global font-specs */
    color: var(--color06);
    font-family: var(--font-family01);
    font-style: normal;
    font-weight: 700;
    /* mobile button-specs */
    width: 122px;
    height: 36px;
    padding: 11px 18px;
    box-shadow: 0px 4px 4px 0px var(--color08);

    gap: 8px; 
    /* mobile font-specs */
    font-size: 20px;
    line-height: 100%;
}


.card01{
    /* global card-specs */
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    flex-shrink: 0;
    background-color: var(--color01);
    opacity: 85%;
    border-radius: 20px; 
    stroke: var(--color07);
    stroke-width: 1px;
    filter: drop-shadow(0px 4px 4px var(--color07), 25%);
    /* mobile card-specs */
    min-width: 295px;
    max-width: 400px;
    width: 80vw;
    min-height: 400px;
    max-height: 540px;
    margin: 20vh 5vw;
}

.card02{

}

.form01{

}


h1 {
    font-family: creepster-caps;
    font-size: 4rem;
    font-weight: 200;
    background: linear-gradient(164deg, rgba(254, 222, 79, 1) 22%, rgba(241, 123, 19, 1) 81%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
    -webkit-filter: drop-shadow(0px 9px 6px#0A2A46);
    filter: drop-shadow(0px 9px 6px #0A2A46);
    letter-spacing: 2px;
}

h2{

    /* global h2-textbox-specs */
    /* text-align: center;
    text-shadow: 0px 4px 4px var(--color08);
    font-family: var(--font-family02);
    font-style: normal; */
    /* mobile h2-textbox-specs */
    /* height: 40px;
    font-size: 40px;
    font-weight: 400;
    line-height: 100%; 
    background: linear-gradient(180deg, #FEDE4F 54.17%, #F17B13 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    */
    text-shadow: 0px 4px 4px rgb(255, 91, 5);
    font-family: var(--font-family02);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; 
    background: linear-gradient(0deg, #FEDE4F 100%, #F17B13 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  
    /* font-family: creepster-caps;
    font-size: 4rem;
    font-weight: 200;
    background: linear-gradient(164deg, rgba(254, 222, 79, 1) 22%, rgba(241, 123, 19, 1) 81%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
    -webkit-filter: drop-shadow(0px 9px 6px#0A2A46);
    filter: drop-shadow(0px 9px 6px #0A2A46);
    letter-spacing: 2px; */
}

header{
    position: absolute;
    align-items: center;
    /* height: 7.0vh;  /* 60px / 852px */
    /* background-color: var(--color01, 0.85); */ 
    width: 100vw; 
    top: 0;
    background-position: center;
} 



.input01{
    display: block;
    width: 100%;
    background-color: var(--color08);
    border-radius: 999px;
    padding: 5px;
    


}


.label01{
    /* global label specs */
    font-family: var(--font-family01);
    color: var(--color06);
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* mobile label specs */
    width: 302px;
    height: 30px;
    font-size: 20px; 

}

.label-input-pair01{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    

}

.topnav{
    /* mobile navbar specs */
    /* mobile navbar specs */
    /* height: 60px; */
    background: var(--color01);
    opacity: 85%;
    width: 100vw;
    height: 3.5rem;
}


/* -------------------------------------------------- */
/* tablet-version  */
/* -------------------------------------------------- */

@media (min-width: 500px){
    body{

        width: 100%;
    
    }
      
    .button01{
        /* tablet button-specs */
        width: 300px;
        height: 50px;  
        /* tablet font-specs */
        font-size: 30px;
        line-height: 133.333%;
    }
    
    
    .card01{
        /* tablet card-specs */
        width: auto;
        height: 100vh;       
    }
    
    .card02{
    
    }
    
    .h2-textbox{
        height: 48px;
    }

    .label01{
        /* mobile label specs */
        width: 302px;
        height: 30px;
        font-size: 20px; 
    }

    .navbar{
        height: 70px;
    
    }

}

/* -------------------------------------------------- */
/* Desktop-version */
/* -------------------------------------------------- */

@media (min-width: 701px){

    body{
        width: 100%;

    }

    .button01{
        /* Desktop button-specs */
        width: 360px;
        height: 60px;  
        /* Desktop font-specs */
        font-size: 36px;
        font-weight: 500;
        line-height: 133.333%;
    }
    
    
    .card01{
            /* desktop card-specs */
        width: auto;
        height: 100vh
    
    }
    
    .card02{
    
    }    
}


/* ================================================== */
/* XXX */
/* ================================================== */

