
* {
    margin: 0;
    padding: 0;
    font-family: var(--font-family01);

}

:root {
    /* Global colors */
    --color01: rgba(10, 42, 70, 1);
    --color02: rgba(25, 100, 125, 1);
    --color03: rgba(12, 192, 200, 1);
    --color04: rgba(241, 123, 19, 1);
    --color05: rgba(254, 222, 79, 1);
    --color06: rgba(255, 255, 255, 1);
    --color07: rgba(0, 0, 0, 1);
    --color08: rgba(181, 192, 200, 1);
    --input-background-color: rgba(255, 255, 255, 0.70);
    --header-background-color: rgba(10, 42, 70, 85%);
    --card01-background-color: rgba(10, 42, 70, 85%);
    --card01-drop-shadow-color: rgba(0, 0, 0, 0.25);

    /* Global images, icons etc */
    --background-image01: url("/rps/images/halloween.jpg");
    /* url("/rps/images/halloween.jpg"); */
    --background-image02: url("/rps/images/halloween-scary.jpg");

    /* Global fonts */
    --font-family01: Roboto;
    --font-family02: creepster-caps;
}

@font-face {
    src: url(../fonts/creepster-caps.ttf);
    font-family: creepster-caps;
}


footer {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: flex-end;
    color: var(--color08);
    justify-self: center;

}

footer h6 {
    font-weight: 200;
    font-size: .8rem;
    margin-bottom: .5rem;

}



#weaponContainer {
    width: clamp(50vw, auto, 90vw) ;
    padding: 0 2rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: var(--card01-background-color);
    border-radius: 1rem;
    height: clamp(10rem 60vh 30rem); 
    z-index: 1;
    align-self: flex-end;
    margin: 2rem auto 1rem auto;


}

#weaponContainer h2 {
    font-family: creepster-caps;
    font-size: 2.2rem;
    font-weight: 200;
    background: linear-gradient(to bottom, rgba(254, 222, 79, 1) 22%, rgba(241, 123, 19, 1) 81%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-filter: drop-shadow(0px 9px 6px#0A2A46);
    filter: drop-shadow(0px 9px 6px #0A2A46);
    letter-spacing: 2px;
    margin: 1rem auto 0 auto;
    text-align: center;
    width: 20rem;
}

.playButton01 {
    width: clamp(122px, 30vw, 360px);
    height: auto;
    border-radius: 999px;
    padding: 11px 18px;
    border: none;

    background-color: var(--color04);

    font-family: var(--font-family01);
    color: var(--color06);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
}

#playBtnContainer {
    grid-row-start: 3;
    grid-column-start: 2;
    justify-self: center;
}

/* -------------------------------------------------- */
/* ---------------- weapon */
/* -------------------------------------------------- */

#circleBehindWeapons {
    background: rgba(241, 123, 19, 0.70);
    border-radius: 50%;
    height: 13rem;
    margin: 1.5rem auto;
    width: 13rem;


}



.weaponIndividualCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;


}

.imgWeaponContainer img {
    width: 11rem;
    height: auto;
    z-index: 1;


}



#weaponName {
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
}


.mobileButtonContainer {
    width: 17rem;
    display: flex;
    justify-content: space-between;

    margin: .5rem auto;
    align-items: center;


}

.buttonLeftRight {
    background-color: var(--color04);
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 300;
    color: white;


}


.buttonLeftRight:active {
    background-color: var(--color05);
}

/* 
@media screen and (max-width: 600px) {
    .weaponContainer {
        grid-row-start: 2;
        margin-top: 1rem;
    }

    .playButton01-container {
        grid-row-start: 3;
        margin-bottom: 1rem;
    }

    footer {
        grid-row-start: 4;
    }
} */



/* -------------------------------------------------- */
/* Tablet-version  */
/* -------------------------------------------------- */
@media screen and (min-width: 500px) {
    .weaponContainer {
        margin-right: auto;
        margin-left: auto;
        flex-direction: column;
        width: 70vw;

    }

    .weaponContainer h2 {
        width: 90%;
        justify-content: center;
    }

}


/* -------------------------------------------------- */
/* Desktop-version */
/* -------------------------------------------------- */

@media screen and (min-width: 700px) {
    .weaponContainer {
        display: flex;
        flex-direction: column;

        width: 40vw;
    }

    .weaponContainer h2 {
        font-size: 3rem;

    }


    #circleBehindWeapons {
        background: rgba(241, 123, 19, 0.70);
        border-radius: 50%;
        height: 18rem;
        margin: 1.5rem auto;
        width: 18rem;


    }



    .weaponIndividualCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;


    }

    .imgWeaponContainer img {
        width: 14rem;
        height: auto;
        z-index: 1;


    }



    #weaponName {
        font-size: 2rem;
        color: white;
        font-weight: 400;
        text-transform: uppercase;
    }


    .mobileButtonContainer {
        width: 17rem;
        display: flex;
        justify-content: space-between;

        margin: .5rem auto;
        align-items: center;


    }


}
