body {
    background-image: url(/rps/images/halloween.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    height: calc(100vh - 3.5rem);
    grid-template-rows: 1fr auto;
    place-items: center;
    margin: 3.5rem 0 0 0;

}

@font-face {
    src: url(/rps/fonts/creepster-caps.ttf);
    font-family: creepster-caps;
}

.topnav {
    background: #0A2A46;
    width: 100%;
    height: 3.5rem;
    position: absolute;
    top: 0;
    opacity: 85%;

}

.fa-solid {
    color: #f5f5f5;
    font-size: 2.8rem;
    padding-top: 5px;
    padding-left: 7px;

}

.name {
    margin-top: 17rem;
    text-align: center;
}

h1 {
    font-family: creepster-caps;
    font-size: 4rem;
    font-weight: 200;
    background: linear-gradient(164deg, rgba(254, 222, 79, 1) 22%, rgba(241, 123, 19, 1) 81%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin: 0;
    -webkit-filter: drop-shadow(0px 9px 6px#0A2A46);
    filter: drop-shadow(0px 9px 6px #0A2A46);
    letter-spacing: 2px;
}

.button {
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    color: aliceblue;
    width: 7rem;
    height: 2rem;
    background-color: #F17B13;
    border-radius: 50px;
    border: none;
    margin-bottom: 4rem;
}