/* ================================================== */
/* READ-ME */
/* ================================================== */
/* CSS File Structure: 
   - global variables 
   - default styling (mobile first)
   - media-queries

   Coding rules:
   - class names must be directly understandable to all developers
   - classes are inserted in alphabetical order in each section
   - classes are styled from the outside to the inside and from the back to the front
   - related properties are grouped together leaving an empty line between  




/* ================================================== */
/* DEFAULT STYLING - MOBILE FIRST  */
/* ================================================== */

.footer-container {}

h2 {
    background: linear-gradient(to bottom, rgba(254, 222, 79, 1) 22%, rgba(241, 123, 19, 1) 81%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-filter: drop-shadow(0px 9px 6px#0A2A46);
    filter: drop-shadow(0px 9px 6px #0A2A46);
    
}


.form01 {
    width: 100%;
    margin-top: 1vh;

    display: grid;
    align-items: center;
}


.input01 {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: var(--input-background-color);
    padding: 0px 18px;
    vertical-align: center;

    font-family: Roboto;
    color: var(--color02);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}

.input01::placeholder {
    color: var(--color02);
}


.label01 {
    display: block;
    width: 100%;
    height: 30px;

    font-family: var(--font-family01);
    color: var(--color06);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}


.label-input-pair01 {
    margin-bottom: 39px;
}




/* -------------------------------------------------- */
/* Tablet-version  */
/* -------------------------------------------------- */

@media (min-width: 500px) and (min-height: 650px) {



    .input01 {
        font-size: 18px;
    }


    .label01 {
        height: 32px;
        font-size: 22px;
    }
}


/* -------------------------------------------------- */
/* Desktop-version */
/* -------------------------------------------------- */

@media (min-width: 700px) and (min-height: 750px) {


    .input01 {
        font-size: 20px;
    }


    .label01 {
        height: 35px;
        font-size: 25px;
    }

}